{% extends 'base.jinja' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container">
        Your flask website is successfully running!
    </div>
{% endblock %}